<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <ourshipping>
                <active>1</active>
                <title>Our Shipping Inc.</title>
                <name>Our Shipping</name>
                <shipping_cost>2</shipping_cost>
                <sallowspecific>0</sallowspecific>
                <sort_order>15</sort_order>
                <model>Talexan\Shipping\Model\Carrier\Ourshipping</model>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </ourshipping>
        </carriers>
    </default>
</config>